body{
	border: 6px solid #6D8EE9;
}


.head
{
    color:#f308;
    font-size:40px;
    font-family:Gill Sans, sans-serif;
    border:3px solid #FEEDCF;
    width:500px;
    margin: 240px auto;
    background-color: #FEE7E7;
    letter-spacing: 2px;
    line-height: 0.5;
    text-align: center


}
p{
	text-align: : center;
}
h6{
	font-size: 20px;
	padding-left:300px;

}
body{
	background-color: #E9E3F2;
}

.this{
	margin: 0 auto;
	position: absolute;
	left:200px;
	top:0px;
	font-size: 40px;
	font-family:Gill Sans, sans-serif;
	opacity: .5;
	color: #5C8ACE;
}

.hi{

	position: absolute;
	left:940px;
	top:300px;
	font-family:Gill Sans, sans-serif;
	color:#5C8ACE;
	font-size: 20px;

}

.studio
{
	color:#6D8EE9;
	text-align: left;
}

.lab
{
	color:#E96D6D;
	text-align: right;
	padding-right: 100px;

}
